body 
{
    background-color: black;
}

.text-center 
{
    text-align: center;
}

.text-white
{
    color: white;
}

/*.arredondar 
{
    padding: 10px;
    border-radius: 20px;
    background-color: brown;
}
*/
.centralizar 
{
    text-align: center;
}

#butao
{
    text-align: center;
    background-color: transparent;
    transition: 0,1s ease;
    border-style: none;
    border-color: transparent;
}

#butao:active
{
    transform: scale(0.92);
}

.tamanho
{
    display: flex;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}
